* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*navigation bar*/
.navigation {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  position: relative;
  background-color: wheat; 
}

/* Side navigation bar links */
.navigation a {
  padding: 14px 20px;
  color: black;
}

.navigation a:hover:not(.active) {
  background-color: whitesmoke;
  color: white;
}

.main {
  margin-left: 0;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .navigation {
    flex-direction: row;
  }

  .navigation a {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: column;

    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
  }

  .navigation a {
    width: auto;
    text-align: left;
  }

  .main {
    margin-left: 200px;
    height: 1000px;
  }
}

.title{
    background-color: antiquewhite;
    margin: auto;
    height: 8%;
    text-align: center;
}
.container{
    background-color: blanchedalmond;
    margin: auto;
    height: auto;
}

.content{
    margin: auto;
    width: 50%;
    height: auto;
    border: 15px black;
    padding: 10px;
}

.dropdown {
  position: right;
  /*display: inline-block;*/
    
}

.dropdown-content {
    text-align: center;
  display: none;
  position: right;
  background-color: white;
  width: 150%;
  box-shadow: 0px 8px 16px 0px;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}